<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huyan.configcenter.dao.ConfigUserMapper">
  <resultMap id="BaseResultMap" type="com.huyan.configcenter.dao.model.ConfigUser">
    <result column="id" jdbcType="INTEGER" property="id"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="passwd" jdbcType="VARCHAR" property="passwd"/>
    <result column="roles" jdbcType="VARCHAR" property="roles"/>
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
  </resultMap>
  <insert id="insert" parameterType="com.huyan.configcenter.dao.model.ConfigUser">
    insert into config_user (name, passwd,
      roles)
    values (#{name,jdbcType=VARCHAR}, #{passwd,jdbcType=VARCHAR},
      #{roles,jdbcType=VARCHAR})
  </insert>

  <select id="listAll" resultMap="BaseResultMap">
    select * from config_user
  </select>

  <select id="getById" resultMap="BaseResultMap">
    select *
    from config_user
    where id = #{id}
  </select>

  <delete id="deleteById">
    delete from config_user
    where id = #{id}
  </delete>

  <update id="updateById" parameterType="com.huyan.configcenter.dao.model.ConfigUser">
    update config_user
    set name = #{name},passwd = #{passwd},roles = #{roles}
  </update>
</mapper>